.dead {
    text-decoration: line-through;
}

.resources {
    display: none;
  } 


header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  #menu-superior{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
  }

  .boton-menu-sup{
    color: #67ee67cf; 
    font-size: 16px;
    font-family: "josefin-sans";
    letter-spacing: 2px;
    
    
  }

  .boton-menu-sup:hover{
    color: rgb(255, 255, 255);
  }


  #juego{
    margin : 50px;
    

  }

  #seccion-juego{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    margin : 50px 20% 50px;
    border-radius: 10px;
  }

  #seccion-apartado{
    /*text-align: center;*/
    /*justify-content: center;*/
    background-color: rgb(22, 22, 22);
    margin : 50px 20% 50px;
    padding: 30px 50px 50px;
    border-radius: 10px;
  }

  body{
    height: 100%;
    width: 100%;

    overflow-x: hidden;

    color: white;
  }

  @font-face {
    font-family: "josefin-sans";
    src: url("srcPaginaWeb/fonts/JosefinSans-Regular.ttf");
  }





  #navbarNav{
    margin-bottom: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
  }

  nav{
    margin-bottom: 0px;
    border: 0px;
    padding: 0px;
  }

  .navbar{
    padding-bottom: 0 px;
  }

  li{
    border-top: solid;
    border-bottom: solid;
    border-width: 5px;
    border-color: rgb(22, 22, 22);
  }
  
  #button1:hover{

    border-bottom-color: rgb(93, 93, 93);
    
  }
  #button2:hover{
    border-bottom-color: rgb(93, 93, 93);
    
  }
  #button3:hover{
    border-bottom-color: rgb(93, 93, 93);
    
  }
  #button4:hover{
    border-bottom-color: rgb(93, 93, 93);
    
  }

  .section{
    margin : 0px 20% 40px;
    border-bottom: solid;
    border-width: 5px;
    border-bottom-color: #67ee67cf; 
  }
  
  .section-title{
    color: #67ee67cf; 

  }

  
  p{
    text-align: justify;
  }

  .menuinferior{
    background-color: rgb(22, 22, 22);
    height:200px;
    padding: 20px;
  }

  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #212529;
    color: white;
    transform: rotateY(180deg);
  }

  .targetas{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 50px;
    margin-top: 100px;
    
  }

  .nombre{
    background-color: lightblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding-top: 11px;

  }

  h5{
    font-family: "josefin-sans";
    font-size: 20px;
    letter-spacing: 1px;
  }